@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Island+Moments&family=Italianno&family=M+PLUS+Rounded+1c:wght@400;500&display=swap');

body{
    margin: auto;
    width: 300px;
    height: 600px;
    overflow: hidden;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 300;
    
}

