@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Island+Moments&family=Italianno&family=M+PLUS+Rounded+1c:wght@400;500&display=swap');

body{
    margin: auto;
    width: 300px;
    height: 600px;
    overflow: hidden;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 300;
    
}
.advertisement{
    background-image: url("image/advertisment.jpeg");
    width: 300px;
    height: 600px;
    background-size: cover;
   
}
.backgrnd__circle{
    width: 270px;
    height: 270px;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.477);
    margin: 2%;
   
}
.weather__day{
    font-family: 'Italianno', cursive;
    color: rgb(84, 26, 26);
    padding: 18% 0 0 0;
    text-align: center;
}

.texts p{
    text-align: center;
    margin-top: -20px;
}






